{{ 'section-about-banner.css' | asset_url | stylesheet_tag }}

<div class="section-about-banner">

    {% if section.settings.banner_img != blank %}
        <div class="banner-img">
            <img src="{{ section.settings.banner_img | image_url }}" height="100" width="100">
        </div>
    {% endif %}

    <div class="page-width">
        {% if section.settings.title != blank %}
            <div class="banner-content">
                <h2> {{ section.settings.title }} </h2>
            </div>
    {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "section-about-banner",
    "settings": [
        {
            "type": "image_picker",
            "label": "Banner Image",
            "id": "banner_img"
        },
        {
            "type": "text",
            "label": "Title",
            "id": "title"
        },
    ],
    "tag": "section",
    "class": "section-about-banner",
    "presets": [
        {
            "name": "section-about-banner"
        }
    ]
}
{% endschema %}