.site-footer {
  background-color: #000000;
  padding: 100px 0 16px;
  margin-top: 48px;
}

.site-footer .top-footer{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 60px;
}

.site-footer .top-footer .footer-block .footer-logo img{
  height: 100%;
  width: 100%;
  max-width: min(100%, 190px);
  max-height: 130px;
}

.site-footer .top-footer .footer-block .social-media ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.site-footer .top-footer .footer-block .social-media ul li{
  list-style-type: none;
}

.site-footer .top-footer .footer-block .social-media ul li+li{
  margin-left: 10px;
}

.site-footer .top-footer .footer-block .social-media ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: .9rem;
  border-radius: 50%;
}

.site-footer .top-footer .footer-block .social-media ul li a:hover svg {
  transform: scale(1.07);
}

.site-footer .top-footer .footer-block .social-media ul li a svg{
  height: 22px;
  width: 22px;
}

.site-footer .top-footer .footer-block .social-media ul li a svg path{
  fill: #000000;
}

.site-footer .top-footer .footer-block .social-media{
  margin-top: 20px;
}

.site-footer .top-footer .menulinks,
.site-footer .top-footer .footer-block__newsletter{
  padding-left: 45px;
}

.site-footer .top-footer .menulinks h5,
.site-footer .top-footer .footer-block__newsletter h5{
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}

.site-footer  .top-footer .menulinks ul{
  margin: 0;
  padding: 0;
}

.site-footer  .top-footer .menulinks ul li{
  list-style-type: none;
}

.site-footer  .top-footer .menulinks ul li+li{
  margin-top: 10px;
}

.site-footer  .top-footer .menulinks ul li a{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28.8px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}

.site-footer  .top-footer form .newsletter-form__field-wrapper .field{
  display: block;
}

input{
  background: #333333 !important;
  border: 1px solid #555555 !important;
  color: #ffffff !important;
  font-size: 18px !important;
  opacity: 1 !important;
}

input::placeholder{
  color: #ffffff !important;
  /* background-color: #fff !important; */
  opacity: 1 !important;
  transition: all .4s ;

}

input::placeholder{
  color: #ffffff;
}

.site-footer  .top-footer form .newsletter-form__field-wrapper .field .newsletter-form__button{
  display: block;
  width: auto;
  padding: 10px 20px;
  min-width: 18rem;
  background-color: #ffffff;
  color: #000000;
  margin: 15px 0 0;
  font-size: 1.6rem;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: static;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.footer-block__newsletter form .newsletter-form__field-wrapper .field::after{
  content: none;
  border: none;
}

.newsletter-form__message{
  color: #ffffff;
}

.site-footer .bottom-footer{
  border-top: 1px solid #191919;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-footer .bottom-footer .copyrigth_text p{
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;
  letter-spacing: 0.7px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 15px 0 0;
}

.site-footer .bottom-footer .copyrigth_text p a{
  text-decoration: none;
  color: #ffffff;
}

.site-footer .bottom-footer .footer_payment img{
  margin-top: 15px;
}

@media screen and (max-width:989px) {
  .site-footer .top-footer{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .site-footer .top-footer .menulinks,
  .site-footer .top-footer .footer-block__newsletter{
    padding-left: 0;
  }
}

@media screen and (max-width:767px){
  .site-footer{
    padding: 50px 0 16px;
  }
  .site-footer .top-footer{
    flex-direction: column;
    gap: 26px;
  }
  .site-footer .top-footer .footer-block .footer-logo img{
    max-width: min(100%, 150px);
    max-height: 50px;
  }
  .site-footer .top-footer .menulinks{
    width: 100%;
  }
  .site-footer .top-footer .menulinks h5{
    padding: 13px;
    background-color: #044b61;
    border-radius: 5px;
    margin-bottom: 0;
  }
  .site-footer .top-footer .menulinks h5::after{
    content: "";
    position: absolute;
    right: 0;
    height: 2px;
    width: 14px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }
  .site-footer .top-footer .menulinks h5::before{
    content: "";
    position: absolute;
    right: 0;
    height: 14px;
    width: 2px;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);
    right: 24px;
  }
  .site-footer .top-footer .menulinks h5.active:before{
    display: none;
  }
  .site-footer .top-footer .menulinks ul{
    display: none;
    margin-top: 24px;
  }
  .site-footer .top-footer .menulinks h5,
  .site-footer .top-footer .footer-block__newsletter h5{
    font-size: 16px;
  }
}

@media screen and (max-width:575px){
  .site-footer .top-footer .footer-block .footer-logo img{
    max-width: min(100%, 125px);
    max-height: 40px;
  }
  .site-footer .top-footer .footer-block .social-media ul li a svg{
    height: 20px;
    width: 20px;
  }
  .site-footer .top-footer form .newsletter-form__field-wrapper .field .newsletter-form__button{
    min-width: 13rem;
  }
  .site-footer .bottom-footer{
    display: block;
    text-align: center;
  }
}