.site-footer {
  background-color: #000000;
  padding: 100px 0 16px;
}

.site-footer .top-footer{
  display: flex;
  gap: 28px;
}

.site-footer .top-footer .footer-block .footer-logo img{
  height: 100%;
  width: 100%;
  max-width: min(100%, 190px);
  max-height: 130px;
}

.site-footer .top-footer .footer-block .social-media ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.site-footer .top-footer .footer-block .social-media ul li{
  list-style-type: none;
}

.site-footer .top-footer .footer-block .social-media ul li+li{
  margin-left: 10px;
}

.site-footer .top-footer .footer-block .social-media ul li .social-media_link{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: .9rem;
  border-radius: 50%;
}

.site-footer .top-footer .footer-block .social-media ul li .social-media_link:hover img {
  transform: scale(1.07);
}

.site-footer .top-footer .footer-block .social-media ul li .social-media_link img{
  height: 22px;
  width: 22px;
}

.site-footer .top-footer .footer-block .social-media{
  margin-top: 20px;
}

.site-footer .top-footer .footer-links h5{
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 2rem;
  margin-top: 0;
  font-weight: 700;
  letter-spacing: 0.6px;
  color: #ffffff;
}

.site-footer  .top-footer .footer-links ul{
  margin: 0;
  padding: 0;
}

.site-footer  .top-footer .footer-links ul li{
  list-style-type: none;
}