.section-about-banner .section-about-banner{
    position: relative;
}

.section-about-banner .section-about-banner .banner-img img{
    height: 100%;
    width: 100%;
    min-height: 500px;
    max-width: 100%;
    object-fit: cover;
}

.section-about-banner .section-about-banner .banner-content h2{
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    padding: 40px 0;
    text-transform: uppercase;
}

.section-about-banner .section-about-banner .banner-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}