.blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.blog-articles .card-wrapper {
  width: 100%;
}

.section-blog .main-blog .title--primary{
  text-align: center;
  margin-top: 0;
}

.section-blog .main-blog .blog-articles{
  gap: 20px;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper{
  width: 100%;
  box-shadow: 0 4px 20px #00000014;
  border-radius: 10px;
  padding: 10px 10px 0;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__content .card__information{
  padding: 1.5rem 1rem 2rem;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__content .card__information .article-card__info{
  display: none;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__content .card__information .article-card__excerpt{
  width: 100%;
  font-size: 14px;
  line-height: 25.2px;
  margin: 12px 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__content .card__information .article-card__footer .read-more{
  font-size: 14px;
  font-weight: 700;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: rgba(71,71,71);
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper:hover .card .card__content .card__information .read-more{
  text-underline-offset: initial;
}


@media screen and (min-width: 750px) {
  .blog-articles {
    grid-template-columns: 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  .blog-articles--collage > *:nth-child(3n + 1),
  .blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .card,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--small .ratio .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--medium .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .blog-articles--collage > *:nth-child(3n + 1) .article-card__image--large .ratio::before,
  .blog-articles--collage > *:nth-child(3n + 2):last-child .article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}

.section-blog .main-blog .blog-articles{
  display: flex;
  flex-wrap: wrap;
}
.section-blog .main-blog .blog-articles .blog-articles__article{
  width: 100%;
  max-width: calc(50% - 10px);
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card{
  text-align: left;
}

.section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__inner{
  height: 100%;
  max-height: 307px;
}

@media screen and (max-width:989px) {
  .section-blog .main-blog .blog-articles .blog-articles__article .article-card-wrapper .card .card__inner{
    max-height: 231px;
  }
}

@media screen and (max-width:767px){
  .section-blog .main-blog .blog-articles .blog-articles__article{
    max-width: 100%;
  }
}