.site-footer {
  background-color: #000000;
  padding: 100px 0 16px;
}

.site-footer .top-footer .footer-block .footer-logo img{
  height: 100%;
  width: 100%;
  max-width: min(100%, 190px);
  max-height: 130px;
}

.site-footer .top-footer .footer-block .social-media ul{
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.site-footer .top-footer .footer-block .social-media ul li{
  list-style-type: none;
}

.site-footer .top-footer .footer-block .social-media ul li+li{
  margin-left: 10px;
}

.site-footer .top-footer .footer-block .social-media ul li .social-media_link{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: .9rem;
  border-radius: 50%;
}

.site-footer .top-footer .footer-block .social-media ul li img{
  height: 25px;
  width: 25px;
}