.section-review .review-slider{
    background-image: url("../assets/review-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    margin: 50px 0;
}

.section-review .review-slider .main-title,
.section-review .review-slider .slider-text .text-block{
    text-align: center;
}

.section-review .review-slider .main-title h2{
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.6px;
    line-height: 40px;
    color: #000000;
    margin: 0 0 10px;
}

.section-review .review-slider .main-title .subtitle{
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 20px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
}

.section-review .review-slider .slider-text .text-block{
    padding: 2rem 180px;
}

.section-review .review-slider .slider-text .text-block p{
    font-size: 14px;
    line-height: 30px;
    color: rgb(18,18,18);
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    letter-spacing: normal;
}

.section-review .review-slider .slider-text .text-block h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    position: relative;
    margin: 3.7rem 0 0 ;
    font-family: 'Open Sans', sans-serif;
}

.section-review .review-slider .slider-text .text-block span{
    display: block;
    font-size: 14px;
    line-height: 30px;
    color: rgb(18,18,18);
    font-family: 'Open Sans', sans-serif;
}

.section-review .review-slider .slider-text .text-block h3::after{
    content: "";
    border-bottom: 2px solid #000000;
    width: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
}

.section-review .slider-text .slick-dots li,
.section-review .slider-text .slick-dots li button,
.section-review .slider-text .slick-dots li button::before{
    height: 12px;
    width: 12px;
}

.section-review .slider-text .slick-dots li button::before{
    background-color: #d1d1d1;
    border-radius: 50%;
    color: transparent;
}

.section-review .slider-text .slick-dots .slick-active button::before{
    background-color: #000000;
}

@media screen and (max-width:989px) {
    .section-review .review-slider .main-title h2{
        font-size: 30px;
        line-height: 30px;
    }
    .section-review .review-slider .main-title .subtitle{
        font-size: 14px;
    }
    .section-review .review-slider .slider-text .text-block{
        padding: 1rem 50px;
    }
}

@media screen and (max-width:749px){
    .section-review{
        margin: 20px 0;
    }
    .section-review .review-slider{
        padding: 50px 0;
    }
    .section-review .review-slider .main-title h2{
        font-size: 23px;
        line-height: 25px;
    }
    .section-review .review-slider .main-title .subtitle{
       margin: 0 0 10px;
    }
    .section-review .review-slider .slider-text .text-block{
        padding: 1rem 30px;
    }
}