.section-offer{
    padding: 50px 0;
}

.section-offer .row{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.section-offer .row .col-6{
    width: 100%;
    max-width: calc(50% - 10px);
}

.section-offer .title{
    text-align: center;
    margin: 0;
}

.section-offer .title .main-title{
    font-size: 40px;
    font-weight: 400;
    color: #000000;
    line-height: 40px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.section-offer .title .subtitle{
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(71,71,71);
    margin: 0 0 20px;
    font-family: 'Open Sans', sans-serif;
}

.section-offer .sub-banner{
    border-radius: 10px;
    position: relative;
    height: 100%;
}

.section-offer .sub-banner .sub-banner-img{
    display: block;
    overflow: hidden;
    height: 100%;
    border-radius: 10px;
}

.section-offer .sub-banner .sub-banner-img img{
    width: 100%;
    height: 100%;
    transition: .5s ease;
    object-fit: cover;
}

.section-offer .sub-banner:hover .sub-banner-img img{
    transform: scale(1.05);
}

.section-offer .sub-banner .sub-banner-text{
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 40px;
    transform: translateY(-50%);
}

.section-offer .sub-banner .sub-banner-text h3{
    font-size: 35px;
    font-weight: 400;
    line-height: 39px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 0;
}

.section-offer .sub-banner .sub-banner-text p{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 0;
    font-family: var(--button-font-family);
}

.section-offer .sub-banner .sub-banner-text a{
    text-decoration: none;
}

.section-offer .sub-banner .sub-banner-text .btnshopnow{
    display: inline-block;
    font-family: var(--button-font-family);
    line-height: normal;
    padding: 11px 20px;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
    margin-top: 15px;
    transition: all .4s ease;
    background-color: rgb(0 0 0);
    color: #ffffff;
    text-transform: uppercase;
}

.section-offer .sub-banner .sub-banner-text .btnshopnow:hover{
    background-color: #044b61;
}

@media screen and (max-width: 1400px){
    .section-offer .title .main-title{
        font-size: 35px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1269px) {
    .section-offer .sub-banner .sub-banner-text h3{
        font-size: 30px;
        line-height: 35px;
    }
}

@media screen and (max-width: 1100px) and (min-width: 750px) {
    .section-offer .sub-banner .sub-banner-text h3{
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .section-offer .sub-banner .sub-banner-text p{
        font-size: 15px;
    }
    .section-offer .sub-banner .sub-banner-text{
        padding: 0 20px;
    }
}

@media screen and (max-width: 989px) and (min-width: 750px){
    .section-offer .sub-banner .sub-banner-text h3{
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .section-offer .sub-banner .sub-banner-text p{
        font-size: 14px;
    }
}

@media screen and (max-width: 989px){
    .section-offer .title .main-title{
        font-size: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width: 749px){
    .section-offer .title .main-title{
        font-size: 27px;
        line-height: 27px;
    }
    .section-offer .title .subtitle{
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width:750px){
    .section-offer .row .col-6{
        max-width: 100%;
    }

    .section-offer .sub-banner .sub-banner-text .btnshopnow{
        line-height: normal;
        font-size: 13px;
    }
}

@media screen and (max-width:479px){
    .section-offer .sub-banner .sub-banner-text{
        padding: 0 15px;
    }
    .section-offer .sub-banner .sub-banner-text h3{
        font-size: 21px;
        line-height: 26px;
        margin-bottom: 5px;
    }
    .section-offer .sub-banner .sub-banner-text p{
        font-size: 15px;
        line-height: 22px;
    }
    .section-offer .sub-banner .sub-banner-text .btnshopnow{
        padding: 8px 15px;
    }
    .section-offer .title .main-title{
        font-size: 23px;
        line-height: 25px;
    }
    .section-offer .title .subtitle{
        font-size: 13px;
    }
}