.section-instagram-post{
    padding: 50px 0;
}

.section-instagram-post .text{
    text-align: center;
}

.section-instagram-post .text .main-title{
   margin: 0 0 5px;
}

.section-instagram-post .text .subtitle{
    margin: 0 0 40px;
}

.section-instagram-post .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.section-instagram-post .row .col-2{
    width: 100%;
    max-width: calc(16.66% - 9px);
}

.section-instagram-post .instagram-img{
    height: 264px;
    width: 100%;
}

.section-instagram-post .instagram-img img{
    width: 100%;
    height: 264px;
    max-height: 264px;
    object-fit: cover;
}
.section-instagram-post .instagram-img .instagram-icon{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
}

.section-instagram-post a:hover .instagram-img .instagram-icon{
    opacity: 1;
}

.section-instagram-post .instagram-img .instagram-icon svg{
    height: 25px;
    width: 25px;
}

.section-instagram-post .instagram-img .instagram-icon svg path{
    fill: #fff;
}

.section-instagram-post a{
    position: relative;
    display: flex;
}

.section-instagram-post a::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: all .5s ease;
    background: #00000069;
    border-radius: 0;
    opacity: 0;
}

.section-instagram-post a:hover::after{
    opacity: 1;
}

@media screen and (max-width:989px) {
    .section-instagram-post .row{
        justify-content: center;
    }
    .section-instagram-post .row .col-2{
        max-width: calc(25% - 9px);
    }
}

@media screen and (max-width:808px){
    .section-instagram-post .row .col-2{
        max-width: calc(33.33% - 9px);
    }
}

@media screen and (max-width:620px){
    .section-instagram-post .row .col-2{
        max-width: calc(50% - 9px);
    }
    .section-instagram-post .instagram-img{
        height: 210px;
    }
    .section-instagram-post .instagram-img img{
        height: 210px;
        max-height: 210px;
    }
}